doctype html
html 
   body
      -const texteStyles = { "padding": "50px", "margin": "auto"}
      div(style = texteStyles )
         p DOCH / DtRH...................../#{currentYear}
         -const titleStyles1 = {"text-align": "center"}
         div(style = titleStyles1)
            h4 <u>- DECISION DE STAGE -</u>

         .paragraph1
            p Le Directeur Général d’Al Omrane Rabat-Salé-Kénitra;

            p   - Vu la procédure du Groupe Al Omrane relative au stage des étudiants ;
            p   - Vu la demande formulée par l’intéressé ;
            p   - Vu l’accord du            ??????                  ; 
            p   - Vu la nécessité d’accorder des stages demandés par les entités concernées.
         
         -const titleStyles2  = {"text-align": "center"}
         div(style = titleStyles2 )
            h3 <u>- Décide -</u>

         .paragraph2
            p <b><u>- Article 1</u></b> : Mademoiselle #{fullname}, est autorisé à effectuer un stage au sein de #{division} et ce à compter du #{startDate} au #{endDate} (à Raison de 3 jours en présentiel et 2 jours en Télétravail) ;

            p <b><u>- Article 2</u></b> : L’intéressé est tenu de se conformer aux règles d’Al Omrane Rabat-Salé-Kénitra, et notamment en matière de couverture d'assurance accident de travail qui doit être prise en charge par les personnes concernées ; ladite assurance doit être remise à d’Al Omrane Rabat-Salé-Kénitra avant le démarrage du stage ; En cas d’accident de travail, La responsabilité de la Société se limite à informer les proches dans un délai de 48 heures et ne prend nullement en charge les accidents survenus au cours de la période de stage ni à l’intérieur ni à l’extérieur de la Société ;

            p <b><u>- Article 3</u></b> : Les stages au sein d’Al Omrane Rabat-Salé-Kénitra ne sont pas rémunérés et les déplacements assurés par le stagiaire restent à sa charge, et ne sont pas remboursés par Al Omrane Rabat-Salé-Kénitra;

            p <b><u>- Article 4</u></b> : Le stagiaire est soumis à la discipline de la Société, notamment en ce qui concerne le respect des horaires de travail, la confidentialité ainsi que la réglementation interne de la Société ;

            p <b><u>- Article 5</u></b> : Le stagiaire n’a pas le droit d’accéder niveau système d’Information ni aux projets d’Al Omrane Rabat-Salé-Kénitra sans autorisation préalable écrite émise par la société ;

            p <b><u>- Article 6</u></b> : Le stagiaire ne doit nullement avoir le contact avec la clientèle ou les prestataires de service d’Al Omrane Rabat-Salé-Kénitra;

            p <b><u>- Article 7</u></b> : Le stagiaire est tenu de fournir un rapport de stage validé par son encadrant au sein d’Al Omrane Rabat-Salé-Kénitra à la fin de son stage ;

            p <b><u>- Article 8</u></b> : Al Omrane Rabat-Salé-Kénitra peut interrompre le stage avant les délais accordés, et sans préavis au préalable.
